dict-run/src/test/resources/META-INF/customTag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.jxzhang.com/schema/costomTags"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.jxzhang.com/schema/costomTags"
	elementFormDefault="qualified">

	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="email" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>